<div class="container-fluid" id="hobbies">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="text-center pt-2 pb-5 text-shadow-effect">Hobbies</h2>
				<hr>
			</div>
		</div>
		<div class="row hobby_section">
			<div class="col-md-6">
				 <img src="../../assets/img/chess.gif" alt="Chess" class="img-fluid mx-auto d-block" >
			</div>
			<div class="col-md-6">
				<p><b>Chess</b> is One of my Favourite Game.I am playing chess since my childhood.I won First Prize while playing chess during college tech fest .I always play chess on chess.com & also participate in open chess tournaments.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-2 mt-2"></div>
		</div>
		<div class="row hobby_section">
			<div class="col-md-6">
				<p>Cricket is my all time favourite game i am playing cricket when i was 6 years old since now i am crazy about cricket.</p>
			</div>
			<div class="col-md-6">
				 <img src="../../assets/img/cricket.gif" alt="Cricket" class="img-fluid mx-auto d-block">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-2 mt-2"></div>
		</div>
		<div class="row hobby_section">
			<div class="col-md-6">
				 <img src="../../assets/img/carrom.gif" alt="Carrom" class="img-fluid mx-auto d-block">
			</div>
			<div class="col-md-6">
				<p>Apart from chess & Cricket i am also good in carrom.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-2 mt-2"></div>
		</div>

		<div class="row hobby_section">
			
			<div class="col-md-6">
				<p>I am not much intrested in this game but ya i can give you tough competetion in this.</p>
			</div>
			<div class="col-md-6">
				 <img src="../../assets/img/badminton.gif" alt="Badminton" class="img-fluid mx-auto d-block">
			</div>
		</div>
	</div>
</div>