<div class="container-fluid" id="projects_container_fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="text-center pt-2 pb-5 text-shadow-effect text-white">Projects</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary project_btn">PHP/WP</button>
				<button class="btn btn-success project_btn">DOT NET</button>
				<button class="btn btn-dark project_btn">GITHUB</button>
			</div>
		</div>
		<div class="row" id="php_projects_section">
			<div class="col-md-12 mb-3">
			<h4 class="text-white text-center text-shadow-effect">PHP Projects</h4>
		</div>
			<div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/breyerwoods.jpg" class="img-fluid">
        <h5 class="card-title">Breyerwoods</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="https://breyerwoods.org/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/bizchathub.jpg" class="img-fluid">
        <h5 class="card-title">Bizchathub</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://nbgserver2.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/centlining.jpg" class="img-fluid">
        <h5 class="card-title">Centlining</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="https://centlining.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/joliespa.jpg" class="img-fluid">
        <h5 class="card-title">Joliespa</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://joliespa.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/netbusiness_group.jpg" class="img-fluid">
        <h5 class="card-title">Netbusiness Group</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="https://netbusinessgroup.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/piperetorationhub.jpg" class="img-fluid">
        <h5 class="card-title">Piperestorationhub</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://www.piperestorationhub.com/main/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/design_to_apeal.jpg" class="img-fluid">
        <h5 class="card-title">Design To Appeal</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="https://designedtoappeal.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/ewayitsolutions.jpg" class="img-fluid">
        <h5 class="card-title">Eway It Solutions</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://ewayitsolutions.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 php">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/AJ+.png" alt="AJ Project" class="img-fluid">
        <h5 class="card-title">Aj+ Fetch Social Media</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="#" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
		</div>
	</div><!--PHP PROJECT ROW-->


	<div class="row" id="dot_net_project_section">
		<div class="col-md-12 mb-3">
			<h4 class="text-white text-center text-shadow-effect">Dot Net Projects</h4>
		</div>
		<div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/grievance_portal.jpg" class="img-fluid">
        <h5 class="card-title">Grievance Portal</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://grievance.mitujjain.ac.in/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/kamnafoundation.jpg" class="img-fluid">
        <h5 class="card-title">Kamna Foundation</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Deployment</p>
        <a href="http://kamnafoundation.org/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/witness_help_desk.jpg" class="img-fluid">
        <h5 class="card-title">Witness Help Desk</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Deployment</p>
        <a href="http://whdmp.in/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
       <img src="../../assets/img/xitonaturals.jpg" class="img-fluid">
        <h5 class="card-title">Xitonaturals</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://xitonaturals.in/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/magnificent.jpg" class="img-fluid">
        <h5 class="card-title">Magnificent</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://magnificentchoiceservices.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/mirror.jpg" class="img-fluid">
        <h5 class="card-title">Mirror Saloon</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Deployment</p>
        <a href="http://mirrorbeautyacademy.in/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 dotnet">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/mountirth.jpg" class="img-fluid">
        <h5 class="card-title">Mountirth</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester</p>
        <a href="http://mountirth.in/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
		
	</div><!--End of Dot net Project Row-->
	<div class="row" id="github_projects_row">
		<div class="col-md-12 mb-3">
			<h4 class="text-white text-center text-shadow-effect">GITHUB Projects</h4>
		</div>
		<div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/Knowledge-adda.png" class="img-fluid">
        <h5 class="card-title">Quiz Website</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Designer,Deployment</p>
        <a href="https://kadda.000webhostapp.com/index.php" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/github_projects.png" class="img-fluid">
        <h5 class="card-title">Github Projects</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://github.com/Viv31" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/interview.png" class="img-fluid">
        <h5 class="card-title">Interview Practice Website</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Designer</p>
        <a href="https://viv31.github.io/interview-crackers.github.io/index.html" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
        <img src="../../assets/img/Dynamic-image-slider-plugin.png" class="img-fluid">
        <h5 class="card-title">Dynamic Image Slider Plugin</h5>
        <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Design,SVN Deployment</p>
        <a href="https://wordpress.org/plugins/dynamic-image-slider/#description" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/Jqueryvalidation.png" class="img-fluid">
        <h5 class="card-title">JQuery Validations</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Design</p>
        <a href="https://viv31.github.io/Jquery-validation.github.io" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/strong-password-generator.png" class="img-fluid">
        <h5 class="card-title">Strong Password Generator Plugin</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Design</p>
        <a href="#" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/faq-plugin-screenshot.png" class="img-fluid">
        <h5 class="card-title">Easy FAQS Plugin</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Design</p>
        <a href="https://wordpress.org/plugins/easy-faqs-accordion/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/image-for-open-graph.png" class="img-fluid">
        <h5 class="card-title">Image for Open Graph Meta</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Design</p>
        <a href="https://wordpress.org/plugins/image-for-open-graph-meta/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 other_project">
    <div class="card">
      <div class="card-body">
         <img src="../../assets/img/itvedant-work.png" class="img-fluid">
        <h5 class="card-title">IT Vedant</h5>
       <h5>Role:</h5>
        <p class="card-text">Developer,Tester,Designer and SEO management</p>
        <a href="https://www.itvedant.com/" class="btn btn-primary">Visit Site</a>
      </div>
    </div>
  </div>
		
	</div><!--End of GITHUB PROJECTS-->

</div><!--End of container-->
</div>
