<div class="container-fluid" id="contact_me">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="text-center pt-2 pb-5 text-shadow-effect">Contact Me</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.759265033351!2d75.77208906497066!3d23.178984784874068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3963744655651d1b%3A0x73dd95a0a70ffd1d!2sSakhipura%2C%20Ujjain%2C%20Madhya%20Pradesh%20456001!5e0!3m2!1sen!2sin!4v1613816369443!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			
				<div class="row">
					<div class="col-md-3 social_images">
						 <a href="https://github.com/Viv31">
						 	<img src="../../assets/img/github.png" alt="Github"  width="100%" class="d-flex mx-auto">
						 </a>
					</div>
					<div class="col-md-3 social_images">
						 <a href="https://stackoverflow.com/users/10657696/vaibhav"> <img src="../../assets/img/stackoverflow-01.png" alt="stackoverflow"  width="100%" class="d-flex mx-auto"></a>
					</div>
					<div class="col-md-3 social_images">
						 <a href="https://www.linkedin.com/in/vaibhav-gangrade-796387134"> <img src="../../assets/img/linkedin-01.png" alt="linkedin"  width="100%" class="d-flex mx-auto"></a>
					</div>
					<div class="col-md-3 social_images">
						 <a href="mailto:vivgangs@gmail.com"><img src="../../assets/img/gmail-01.png" alt="gmail"  width="100%" class="d-flex mx-auto"></a>
					</div>
				</div>
			
			
		</div>
	</div>
</div>