<div class="container-fluid" id="skills">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="text-center pt-2 pb-1 text-shadow-effect">Skills</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="progress blue"> 
					<span class="progress-left"> 
						<span class="progress-bar"></span> 
					</span> 
					<span class="progress-right"> 
						<span class="progress-bar"></span>
					</span>
            <div class="progress-value">95%<small>(HTML)</small></div>
        </div>
        <div class="progress blue"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span></span>
            <div class="progress-value">90%<small>(CSS)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">70%<small>(JS)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">70%<small>(JQuery)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">95%<small>(BS)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">60%<small>(AJAX)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">85%<small>(PHP)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">80%<small>(Wordpress)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">75%<small>(Wp-plugin)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">70%<small>(CI)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">60%<small>(MVC.Net)</small></div>
        </div>
        <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">60%<small>(SEO)</small></div>
        </div>
         <div class="progress grey"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span class="progress-right"> <span class="progress-bar"></span> </span>
            <div class="progress-value">30%<small>(Angular)</small></div>
        </div>
			</div>
			
		</div>
	</div>
</div>