<div class="container-fluid" id="achievements">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h2 class="text-center pt-2 pb-5 text-shadow-effect">Achievements</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mx-auto achievements_container">
				<ul>
      <li>
      	<i class="fa fa-trophy"></i>Apporved Wordpress plugin "<b>Easy FAQ's</b>" by <a href="https://wordpress.org/plugins/easy-faqs-accordion/" style="color:#21759b;font-weight: bold;">Wordpress</a>
      </li>
      <li>
      	<i class="fa fa-trophy"></i>Apporved Wordpress plugin "<b>Image for Open Graph Meta</b>" by <a href="https://wordpress.org/plugins/image-for-open-graph-meta/" style="color:#21759b;font-weight: bold;">Wordpress</a>
      </li>
	     <li>
	     	<i class="fa fa-trophy"></i>Apporved Wordpress plugin "<b>Dynamic Image Slider</b>" by <a href="https://wordpress.org/plugins/dynamic-image-slider/" style="color:#21759b;font-weight: bold;">Wordpress</a>
	     </li>
	    <li>
	    	<i class="fa fa-trophy"></i>Apporved Wordpress plugin "<b>Password Generator widget</b>" by <a href="https://wordpress.org/plugins/strong-password-maker/" style="color:#21759b;font-weight: bold;">Wordpress</a>
	    </li>
	<li>
		<i class="fa fa-trophy"></i>Won <b>First Prize</b> in <b>CHESS</b> competetion in College Tech Fest <b>"Emblaze 2K16"</b>
	</li>
      <li>
      	<i class="fa fa-trophy"></i>Actively Participate in <b>Chess</b> during <b>College Sports</b>.
      </li>
      <li>
      	<i class="fa fa-trophy"></i><b>Two times</b> runner up in <b>chess</b> during <b>college nodels</b> 
      </li>
      <li>
      	<i class="fa fa-trophy"></i><b>Secured second position</b> in <b>"general knowledge examination"</b> held in <b>SLS college</b> Shujalpur in the year 2013</li>
      <li>
      	<i class="fa fa-trophy"></i>Actively participate in <b>Open Chess Tournament</b></li>
          </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center text-shadow-effect mt-5 mb-5">Other Achievements</h3>
			</div>
		</div>
		<div class="row" id="counter_div">

					<div class="col-md-4">
		        	<span class="text-white text-center">GITHUB PROJECTS</span>

		        <h1 class="counter text-white text-center">74</h1>
		    </div>
		    <div class="col-md-4">
		        <span class="text-white text-center">Wordpress Apporved Plugin</span>
		        <h1 class="counter text-white text-center">04</h1>
			</div>
		    
		    <div class="col-md-4">
		        <span class="text-white text-center">LIVE PROJECTS ON GITHUB</span>
		        <h1 class="counter text-white text-center">05</h1>
		    </div>
		</div>
	</div>
</div>